@import "tailwindcss";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sidebar-bg: #eff6ff;

  --color-brand-dark: #0b1c30;
  --color-brand-light: #dbeafe;
  --color-blue-dark: #4338da;
  --color-blue-light: #eff4ff;
  --color-red: #ba1a1a;

  --color-text-main: var(--color-brand-dark);
  --color-text-muted: #475569;
  --color-text-hover: var(--color-blue-dark);
  --color-text-alert: var(--color-red);
}

:root {
  --background: #fcfcfc;
  --foreground: #0a0a0a;
}

.dark {
  --background: oklch(0.145 0 0);

  --foreground: oklch(0.985 0 0);
}

@layer base {
  body {
    @apply bg-background;
  }
}
